/* Style */
header {
  background: var(--color-bg);
  margin-bottom: 4px; }

header nav {
  padding: 0 1rem;
  height: 60px; }

header nav ul {
  margin-left: auto; }

header nav p {
  color: var(--color-bg-heading);
  padding-left: 20px; }

h1.title {
  color: var(--color-bg-heading);
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  background: var(--color-bg);
  margin: 0;
  padding: 32px 0; }

h1.title span {
  color: var(--color-pantries); }

main {
  padding: 1.5rem 0;
  max-width: var(--width-content); }

section {
  padding: 32px;
  margin: 32px 0;
  border-radius: var(--border-radius); }

section .icon {
  flex-basis: 100%; }

section h2 {
  flex-basis: 100%;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  font-size: 32px;
  margin-top: 10px;
  margin-bottom: 20px; }

.mission, .for-volunteers {
  color: #fff;
  background: var(--color-pantries); }

.team, .donate, .glossary, .for-donors {
  color: var(--color-bg-heading); }

.team h2, .donate h2, .glossary h2 {
  color: var(--color-pantries); }

.donate {
  margin-bottom: 0; }

.donate .btn {
  margin: 20px auto; }

dl {
  margin-top: 0;
  margin-bottom: 0; }

dl dt {
  font-weight: 600; }

dl dd {
  margin-left: 0;
  margin-bottom: 32px; }

dl dd:last-child {
  margin-bottom: 0; }

.btn {
  border-radius: 6px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase; }

.btn-white {
  background: var(--color-bg); }

.btn-orange {
  color: #fff;
  font-size: 18px;
  background: var(--color-meals);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

.btn-outline {
  font-size: 14px;
  color: var(--color-pantries);
  border: 1px solid var(--color-pantries); }

.cards {
  justify-content: var(--justify-important);
  padding: 0;
  margin-top: 0; }

.cards aside {
  text-align: center;
  margin-left: 0;
  margin-right: 0; }

.cards aside .btn {
  margin-bottom: 20px; }

.cards aside h3 {
  font-size: 40px;
  font-weight: 500;
  color: #fff;
  margin: 20px 0; }

aside.signup {
  background: var(--color-pantries); }

aside.signup .btn-white {
  color: var(--color-pantries); }

aside.volunteer {
  background: var(--color-meals); }

aside.volunteer .btn-white {
  color: var(--color-meals); }

.for-donors {
  background: var(--color-bg); }

.partners {
  background: var(--color-bg);
  padding: 48px 32px;
  justify-content: space-between;
  align-items: center;
  flex-direction: column; }

.partners h2 {
  color: var(--color-bg-heading);
  margin-bottom: 60px; }

.partners .logo {
  max-width: 100%;
  height: 100%;
  margin-bottom: 40px; }

footer {
  background: var(--color-bg);
  position: relative; }

footer nav {
  padding: 1.5rem 1rem;
  justify-content: space-between;
  align-items: flex-start; }

footer nav li {
  display: block;
  text-align: right;
  text-transform: uppercase; }

footer nav a {
  text-decoration: none; }

@media only screen and (min-width: 64em) {
  .cards {
    flex-wrap: nowrap;
    padding: 32px; }
  .cards aside {
    margin-left: 1rem;
    margin-right: 1rem; }
  .partners {
    flex-direction: row; }
  .partners .logo {
    margin-bottom: 0; }
  footer nav {
    justify-content: center;
    align-items: center; }
  footer nav li {
    display: inline-block; }
  .footer-logo {
    position: absolute;
    left: 1rem; } }

@media only screen and (min-width: 75em) {
  main {
    padding: 1.5rem 2rem; } }
